.header-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #6BDD97;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
}

.header-logo-image {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.search-mealplanning-container {
  display: flex;
  align-items: center;
  flex: 1;
  margin: 0 20px;
  gap: 10px;
}

.header-search {
  flex-grow: 1;
  padding: 12px 20px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
}

.profile-cart-container {
  display: flex;
  align-items: center;
}

.profile-cart {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px; /* Adjusted from fixed size */
  padding: 8px 12px; /* Adjusted padding for text fit */
  height: 28px;
  border: 1px solid white;
  border-radius: 10px; /* Adjusted from 50% */
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.profile {
  display: flex;
  border: 2px solid white;
}

.profile:hover, .cart:hover {
  background-color: #1DAF55;
  border-color: #148f42;
}

input[type="text"].header-search::placeholder {
  color: #666;
  opacity: 1; 
}

.header-cart-image, .profile-logo-image {
  height: 24px;
  width: 24px;
}

.sign-in-text {
  color: white;
  font-size: 14px; /* Adjust the size as needed */
  font-weight: bold;
  text-align: center;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 1;
  margin-top: 40px;
  margin-right: 85px;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}