.loginheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #6BDD97;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
