/* SIGNUP CSS START*/
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.container {
  display: flex;
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px green;
  border: 1px solid white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 300px auto;
  padding: 100px 40px;
  width: 400px;
  height: 450px;
}

.container::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: -1;
}

.signup-form {
  max-width: 450px;
  margin: 0 auto;
  text-align: center;
}

.background-middle-signin {
  width: 100%;
  padding: 80px 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: auto;
  margin-left: auto;
  background-image: url('nygirl.jpeg');
  background-size: cover;
}

h2 {
  color: white;
  margin-top: 30px;
  margin-bottom: -20px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

input  {
  padding: 5px;
  margin-top: 25px;
  border: none;
  border-radius: 10px;
  background: transparent;
  border: 1px solid #fff;
  color: black;
  font-size: 13px;
  
}

input::placeholder {
  display: flex;
  color: solid white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

input:focus {
  outline: none;
}

button {
  background-color: red;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background: green;
  color: white;
  outline: 1px solid #fff;
}

p {
  font-size: 12px;
  color: #fff;
  margin-top: 15px;
}

#register {
  text-decoration: none;
  color: red;
  font-weight: bold;
}
  
  
header, footer {
  display: flex;
  background-color: green; /* Semi-transparent green background */
  backdrop-filter: blur(10px); /* Blurs the content behind the element */
  color: white; /* Black font color */
  font-weight: bold;
  font-size: 100px;
  padding: 10px;
  width: 1850px;
  height: 40px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2); /* Optional: Border for better visibility */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Subtle shadow */
}

  
  /* SIGNUP CSS END*/
  
 
